body{
    margin:0;
    padding:0;

    background-image: url("./assets/fond_infos.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    color: #e1e3e1;
    text-align: center;
}

nav{
    height: 100px;
    background-color: #23282f;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: start;

    opacity: 0.9;

    margin-bottom: 10px;
    background-color: #23282f;
    color: #e1e3e1;
}

article > div{
    margin-left: 10px;
}

.vignette{
   height: auto;
    width: 100px;
}